.container{
    position: absolute;
    width:100%;
    height:100%;
    padding:0px 60px 0px 130px;
}

.semiBold{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size:6rem;
    color:white;
}