.container{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.loginConsole{
    border:3px solid white;
    border-radius: 25px;
    background-color: black;
    padding: 50px;
    width:350px;
    height:550px;
    margin-top:5%;
    margin-bottom:5%;
    
}

.inter_semiBold{

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size:50px;
    color:white;
    margin-bottom: 30px;
   
}



.inter_semiBold2{

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size:15px;
    color:black;
    
   
}

.inter_regular{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size:13px;
    color:white;
    
}

.inter_regular2{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size:15px;
    color:black;
    
}

.inter_extraLight{
    font-family:'Inter',sans-serif;
    font-weight: 200;
    font-size:20px;
    color:black;
}

.formContainer{
    input[type=text], input[type=password],input[type=email],input[type=number],input[type=tel] {
        border: 1px solid white;
        border-radius: 4px;
        padding: 8px;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box;
        margin:5px 0px 20px 0px;
        
    
        &:focus {
          border-color: blue;
          outline: none;
          box-shadow: 0 0 5px rgba(8, 8, 114, 0.5);
        }
    
        &::placeholder {
          color: #aaa;
          font-style: italic;
        }
    }
}
.overlay{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit{
    
    border-radius: 25px;
    background-color: black;
    border:1px solid white;
    padding:5px 15px 5px 15px;
    margin-bottom: 20px;
    margin-top: 10px;

    .submitText{
        
            font-family: 'Inter', sans-serif;
            font-weight: 200;
            font-size:15px;
            color:white;
    }
    
    &:hover{
        background-color: white;

        .submitText{
            color:black;
        }

        
    }
}

.successMessage {
    margin-top: 15px;
    
    
    text-align: center;
    transition: .5s linear;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size:15px;
    color:white;
   
}



